
/* 滑鼠互動效果 */
a:hover {
    text-decoration: underline;
}
.interactive:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.interactive {
    transition: transform 0.2s, box-shadow 0.2s;
}

/* 改進的漣漪效果 */
body {
    position: relative;
    overflow-x: hidden;
}
.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 0.4s ease-out; /* 更自然的動畫時間與效果 */
    background: rgba(255, 255, 255, 0.2); /* 更柔和的透明度 */
    pointer-events: none; /* 防止影響點擊事件 */
}
@keyframes ripple-animation {
    to {
        transform: scale(1.5); /* 更小的漣漪大小 */
        opacity: 0;
    }
}
